.Form {
  display: flex;
}

.UserInput {
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.LoginBtn {
  outline: none;
  text-transform: uppercase;
  background-color: deepskyblue;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e3e3e3;
  font-weight: 700;
  padding: 8px 18px;

  cursor: pointer;
}
