.UserName {
  text-transform: capitalize;
  color: #e3e3e3;
}
.LogoutBtn {
  text-transform: uppercase;
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  color: #e3e3e3;
  font-weight: 700;
  padding: 8px 18px;

  cursor: pointer;
}
